.burgerMenu{
	font-size: 1.2rem;
	color: #FD91A6;
	align-self: end;
}

.burgerMenu{
	cursor: pointer;
	transition: 0.7s; /* hover: off */
} /* burger menu */

.burgerMenu:hover{
	transition: 0.7s ease-in-out;
	transform:r otate(360deg) scale(3); /* hover: on */
} /* burger menu hover */