#mint article{
	grid-area: 1/1/2/2;
	align-self: center;
    place-self: center;
    margin-left: -100vw;
	opacity: 0%;
} /* small arrow icon and form container */

#mint article i{
	margin-top: 4vw;
	font-size: 8vw;
	color: #FD91A6;
	text-shadow: 0px 10px 30px rgba(134,63,140,0.5);
	justify-self: center;
	cursor: pointer;
	transition: 1.5s;
} /* arrow icon above form */

#mint article i:hover{
	transform: scale(0.8);
	color: #FF839E; /* a darker tone when smaller ie. further away */
} /* arrow icon above form */

#mint form{
	display: grid;
	grid-template: repeat(4, auto) / auto;
}

#mint input,
#mint textarea{
	margin-top: 2vw;
	padding-left: 1vw;
	width: 35vw;
	height: auto;
	background: #FDF1B8;
	border: none;
	box-shadow: 0px 10px 30px rgba(134,63,140,0.3);
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: #FD91A6;
	font-weight: bold;
}

#mint input:focus,
#mint textarea:focus{
	outline-color: #863F8C;
}

#mint input{
	height: 3vw;
}

#mint textarea{
	padding-top: 0.8vw;
	height: 10vw;
	resize: none; /* removes resize icon in bottom right corner */
	overflow: auto; /* only scrollbar when needed (IE) */
}

#mint ::placeholder{
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: #77BA9B;
	font-weight: bold;
} /* placeholder in both input and textarea */

#mint button{
	z-index: 10;
	position: relative;
	bottom: 3.3vw;
	left: 0.25vw;
	font-size: 5vw;
	background: none;
	color: #FFD452;
	border: none;
	text-align: end;
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	cursor: pointer;
} /* send button */

#mint h2{
	padding-left: 5vw;
	font-size: 6vw;
	color: #FFD452;
	grid-area:1/2/2/3;
	line-height: 8vw;
	align-self: center;
} /* yellow headline */

#mint #wrong{
	max-width: 35vw;
	position: relative;
	top: 1vw;
	font-family: 'Inconsolata', monospace;
	color: #FD91A6;
	-text-shadow: 0px 5px 20px rgba(134,63,140,0.3);
	font-size: 1.5rem;
	font-weight: bolder;
	line-height: 3vw;
	text-align: center;
}