.backToTopButton__icon{
	margin: 0 7vw 3vw 7vw;
	position: fixed;
 	bottom: 0;
	right: 0;
	z-index: 70;
	color: $pink;
	text-align: end;
	font-size: 1.2rem;
	cursor: pointer;
	transition: 0.7s; /* hover:off */
}

.backToTopButton__icon:hover{
	transition: 0.7s ease-in-out;
	transform: rotate(360deg) scale(3); /* hover: on */
}