.headerHeading{
	font-size: 1.2rem;
	color: $pink;
	align-self: end;
}

.headerHeading__link{
	color: $pink;
}

.headerHeading__link:visited{
	color: $pink;
} /* stays same font colour when clicked */