@import "header-heading";
@import "header-burger-menu";

header{
	padding: 3vw 7vw 0 7vw;
	position: fixed;
 	top: 0;
	width: 100%;
	z-index: 70;
	display: flex;
	justify-content: space-between;
} /* fixed header */