@import "orange-project-links";

#orange{
	background: $orange;
	z-index: 20;
	display: grid; /* to center content */
}

#orange article{
	max-width: 80vw;
	align-self: center;
	margin: 0 auto;

	display: grid;
	grid-template-rows: 2fr 1fr;
} /* grid for all content in orange */

#orange p{
	max-width: 55%;
	font-size: 0.9rem;
	color: $pink;
	font-weight: bold;
	line-height: 3vw;
	column-count: 2;
	column-gap: 3vw;
	place-self: end;
} /* bottom small pink text */