nav{
	margin-right: -130vw; /* hides nav outside viewport */
	padding-left: 10vw;
	display: grid;
	justify-items: start;
	position: fixed;
	right: 0;
	top: 0;
	width: 60vw;
	height: 100vh;
	background: $pink;
	box-shadow: -10px 0px 100px rgba(134,63,140,0.8);
}

nav ul{
	text-align: end;
}

nav li{
	list-style: none;
}

nav i{
	color: $yellow;
	font-size: 1.7vw;
	padding: 4vw 0;
	cursor: pointer;
}

nav a{
	text-decoration: none;
	color: $dark-blue;
	font-family: $font-stack-two;
	font-weight: bold;
	font-size: 1.5vw;
	line-height: 5vw;
}

nav a:visited{
	color: $dark-blue;
} /* stays same font colour when clicked */

nav a span{
	color: $blue;
	font-weight: normal;
} /* light blue text in menu */

nav a:visited span{
	color: $blue;
} /* stays same font colour when clicked */