// colours:
$yellow: #FFD800;
$pale-yellow: #FDF1B8;
$pink: #FD91A6;
$light-pink: #EEA5B1;
$coral: #F26964;
$orange: #FD6D48;
$blue: #75A3D1;
$dark-blue: #3C2ED0;
$outline-purple: #863F8C;
$mint: #77BA9B;


//fonts:
$font-stack-one: 'Inconsolata', monospace;
$font-stack-two: 'Open Sans', sans-serif;